body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-bottom: 2px solid #0056b3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    opacity: 0.8;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

article {
    margin-bottom: 20px;
}

article h2 {
    margin-bottom: 10px;
    color: #007bff;
}

article p {
    line-height: 1.6;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
@media (max-width: 1200px) {
    section article {
        width: calc(25% - 1rem);
    }
}

@media (max-width: 960px) {
    section article {
        width: calc(33.33% - 1rem);
    }
}

@media (max-width: 768px) {
    section article {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    section article {
        width: calc(100% - 1rem);
    }
}

@media (max-width: 768px) {
    #jugador-agregado {
        left: 0.5rem;
        width: calc(100% - 1rem);
        position: relative;
        transform: none;
        top: auto;
    }
}


form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}
